# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=wfm_db
DB_USERNAME=postgres
DB_PASSWORD=mysecretpassword
DB_SCHEMA=ml_forecast

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

# Celery
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0

# Storage paths
MODELS_PATH=/shared/models
DATASETS_PATH=/shared/datasets

